.consultation {
  padding-block: 3rem;
}

.consultation__inner {
  inline-size: min(calc(100% - var(--container-padding) * 2), var(--container-width));
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.consultation__title {
  font-size: 1.25rem;
  font-weight: 500;
}

.consultation__link-area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px 24px;
}

.consultation__link {
  padding: 1rem 2rem;
  border-radius: 3.0rem;
  background: var(--color-bg-sub);
  color: var(--color-primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 500;
}

@media (width >= 768px) {
  .consultation {
    padding-block: 4rem;
  }

  .consultation__link-area {
    justify-content: flex-start;
  }

  .consultation__inner {
    flex-direction: row;
  }

  .consultation__title {
    font-size: 1.5rem;
    min-width: 384px;
  }
}
