.section {
  padding-block: var(--section-space);
}

.section__inner {
  inline-size: min(calc(100% - var(--container-padding) * 2), var(--container-width));
  margin-inline: auto;
  position: relative;
}

.section__eyebrow {
  color: var(--color-primary);
  font-size: 0.875rem;
  font-weight: 500;
}

.section__title {
  font-size: 1.75rem;
  line-height: 1.75;
}

@media (width >= 1025px) {
  .section__title {
    font-size: 2.5rem;
  }
}
