{
  "singleQuote": true,
  "printWidth": 100,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 200
      }
    }
  ]
}
